.container-fluid#download

    .row
        .col.l12.s12.center-align
            h5 Tickets

    .row.mainKorzinka
        .col.l6.s12.leftTicketCard
            .row
                .col.l5.s5
                    img(src="../../static/img/10.jpg")
                .col.l7.s7
                    h5 Title
                    .timeForTicket
                        i.fas.fa-calendar(style="display: inline")
                        p(style="display: inline; margin-left: 5%") 24-fev.
                            span.grey-text sun 16:30

                    .placeForTicket
                        i.fas.fa-map-marker(style="display: inline")
                        p(style="display: inline; margin-left: 5%") where to go

                    .whereForTicket
                        p.grey-text Where,
                            span  ryad: 8, mesto: 50


        .col.l6.s12.rightTicketCard
            .row.download
                a.btn Download


