doctype html

head
    meta(charset="UTF-8")
    meta(name="description" content="ATicket")
    meta(name="viewport" content="width=device-width initial-scale=1.0" )

    link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    <!-- Compiled and minified CSS -->

    link(href='../../static/css/materialize.min.css' rel='stylesheet')
    link(href='../../static/css/main.min.css' rel='stylesheet')


    title



body
    .loader
    include component/header


    include component/main
    include component/main2
    include component/main3

    include component/lovely
    include component/login

    include component/footer

    script(src='../../static/js/jquery.min.js')
    script(src='../../static/js/libs.min.js')
    //script(src="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js")
    script(src='../../static/js/main.min.js')