.container-fluid.allMain#cardRoute
    .cards
        h5 Comedy movies
        a( href="#") view more >
    .divider
    .row
        .col.s12.m6.l3
            a(href="../alone/index.html")
                .card
                    .card-image
                        img(
                        src="../../static/img/15.jpg"
                        )
                        a(href="#!")
                            i.far.fa-bookmark

                        .price-begin
                            label price

                    .card-content
                        p.grey-text type
                        span.card-title Movie name
                        .when
                            p.grey-text 10 february and 13 march
                        .where
                            p.grey-text Istiqlol

        .col.s12.m6.l3
            a(href="../alone/index.html")
                .card
                    .card-image
                        img(
                        src="../../static/img/16.jpg"
                        )
                        a(href="#!")
                            i.far.fa-bookmark


                        .price-begin
                            label price

                    .card-content
                        p.grey-text type
                        span.card-title Movie name
                        .when
                            p.grey-text 10 february and 13 march
                        .where
                            p.grey-text Istiqlol
        .col.s12.m6.l3
            a(href="../alone/index.html")
                .card
                    .card-image
                        img(
                        src="../../static/img/17.jpg"
                        )
                        a(href="#!")
                            i.far.fa-bookmark


                        .price-begin
                            label price

                    .card-content
                        p.grey-text type
                        span.card-title Movie name
                        .when
                            p.grey-text 10 february and 13 march
                        .where
                            p.grey-text Istiqlol
        .col.s12.m6.l3
            a(href="../alone/index.html")
                .card
                    .card-image
                        img(
                        src="../../static/img/18.jpg"
                        )
                        a(href="#!")
                            i.far.fa-bookmark

                        .price-begin
                            label price

                    .card-content
                        p.grey-text type
                        span.card-title Movie name
                        .when
                            p.grey-text 10 february and 13 march
                        .where
                            p.grey-text Istiqlol
