doctype html

head
    meta(charset="UTF-8")
    meta(name="description" content="ATicket")
    meta(name="viewport" content="width=device-width initial-scale=1.0" )

    link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    <!-- Compiled and minified CSS -->


    link(href='../../static/css/materialize.min.css' rel='stylesheet')
    link(href='../../static/css/main.min.css' rel='stylesheet')
    title



body

    .container-fluid.main#registration
        .row
            .col.s12.l4.m4.x14
            .col.s12.l4.m4.xl4.main-page
                h3.yandex Registration
                .row
                    form.col.s12
                        .row.login
                            .col.s1.l1.m1.xl1
                            .input-field.col.s10.l10.m10.xl10
                                input.validate(type="text" placeholder="First name")
                            .col.s1.l1.m1.xl1
                        .row.login
                            .col.s1.l1.m1.xl1
                            .input-field.col.s10.l10.m10.xl10
                                input.validate(type="text" placeholder="Last name")
                            .col.s1.l1.m1.xl1
                        .row.login
                            .col.s1.l1.m1.xl1
                            .input-field.col.s10.l10.m10.xl10
                                input.validate(type="text" placeholder="Login")
                            .col.s1.l1.m1.xl1
                        .row.login
                            .col.s1.l1.m1.xl1
                            .input-field.col.s10.l10.m10.xl10
                                input.validate(type="password" placeholder="Password")
                            .col.s1.l1.m1.xl1
                        .row.login
                            .col.s1.l1.m1.xl1
                            .input-field.col.s10.l10.m10.xl10
                                input.validate(id="password" type="password" placeholder="password confirmation")
                            .col.s1.l1.m1.xl1
                        .row.login
                            .col.s1.l1.m1.xl1
                            .input-field.col.s10.l10.m10.xl10
                                input.validate(id="tel" type="text" placeholder="Phone number")
                            .col.s1.l1.m1.xl1
                        .row
                            .col.s1.l1.m1.xl1
                            .col.s10.l10.m10.xl10
                                a.waves-effect.waves-light.btn.sign Register
                                p.via
                                    a(href="") I have already had an account
                                br
                            .col.s1.l1.m1.xl1

            .col.s12.l4.m4.xl4

    script(src='../../static/js/jquery.min.js')
    script(src='../../static/js/libs.min.js')
    //script(src="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js")
    script(src='../../static/js/main.min.js')









        // $('.button-login').attr("href", "#modal1").html("<i class='fas fa-sign-out-alt'></i> Login");
        // $('.logout').attr("href", "../saves/index.html").html("<i class='far fa-bookmark'></i> My saves  <i class='fas fa-user'></i>")
         //$("#login").append("<li class= 'list-items col right loginList' ><a href='#modal1' class='modal-trigger button-login btn'><i class='fas fa-sign-in-alt'></i> <span class='forLogin'> Login </span></a></li>");
         // $('#logout').append("<li class='list-items col saves'><a href='pages/korzinka/index.html' class='logout'><i class='fas fa-shopping-cart'><span class='badge'>4</span></i></a></li>")
         //     .append(
         // `<li class='list-items col user right'>
         //     <i class='fas fa-user'></i>
         //     <div class='userProfile container'>
         //         <div class="row">
         //             <div class="col">
         //                <i class='fas fa-user'></i>
         //              </div>
         //              <div class="col ">
         //                 <a href="">Nickname</a>
         //             </div>
         //             <div class="col ">
         //                 <a href="">email@gmail.com</a>
         //             </div>
         //         </div>
         //         <div class="row">
         //             <div class="col">
         //                <i class='fas fa-cog'></i>
         //              </div>
         //              <div class="col">
         //                 <a href="pages/user/index.html">Profile</a>
         //             </div>
         //         </div>
         //         <div class="row" style="border: none !important">
         //             <div class="col">
         //                <i class='fas fa-sign-out-alt'></i>
         //              </div>
         //              <div class="col">
         //                 <a href="">Logout</a>
         //             </div>
         //         </div>
         //     </div>
         // </li>`);









            //svg(height="40" width="40")
                        //    circle(data-price="" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //
                        //br
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="100$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //br
                        ////***************************80$************************************
                        //br
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //
                        //br
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="80$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //br
                        ////**************************50$***********************************
                        //br
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //br
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="50$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //br
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //svg(height="40" width="40")
                        //    circle(data-price="40$" cx="20" cy="20" r="10" stroke="black" stroke-width="1" fill="red")
                        //br