.container-fluid#verification
    .container(style="padding: 2% 0 !important")
        h5.center Verification
        .row
            .col.l12.s12.m11
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid architecto aspernatur enim eveniet, facilis fuga fugiat harum in inventore labore minus provident quae, quidem quisquam rem, reprehenderit sequi sint!