#codeVerification
  .container
    -webkit-box-sizing border-box !important
    -moz-box-sizing border-box !important
    box-sizing border-box !important
    text-align center
    .row
      border none !important
    .codeVer
      width 100%
      padding 0
      margin 0
  form
    width 100% !important
    display flex
    justify-content center
    -webkit-justify-content center

  input
    border 1px solid grey !important
    padding 0 !important
    height 30px
    width 200px
  input
    &:focus
      border 1px solid #fc0 !important
      -webkit-box-shadow none !important
      -moz-box-shadow none    !important
      box-shadow none    !important

  .forInput
    margin 0
    padding 10px 0

  .forButton
    margin 0
    padding 10px 0


    button
      float left
      margin-left 10px
      background-color #fc0
      color black
      border none
      -webkit-box-shadow none !important
      -moz-box-shadow none !important
      box-shadow none !important
      padding 5px 20px