#download
  border 1px solid white
  img
    width 100%
    height auto
  .leftTicketCard
    display flex
    .buyTicket
      align-self flex-end
      -webkit-align-self flex-end
  .ticket
    border-left 2px dashed #666666
  .aboutTicket
    font-size 0.9em

    .row
      -webkit-box-shadow none !important
      -moz-box-shadow none !important
      box-shadow none !important
      border none !important
      margin-top 0 !important
      margin-bottom 0 !important
      line-height 15px
    .col
      margin 0 !important
      padding-top 0 !important
      padding-bottom 0 !important



  .download
    border none !important
    -webkit-box-shadow none !important
    -moz-box-shadow none !important
    box-shadow none !important
    background-color white
    padding 5%
    margin-top 5%



    a
      background-color #fc0
      border none !important
      -webkit-box-shadow none !important
      -moz-box-shadow none !important
      box-shadow none !important
      color black
      width 50%
      height 100%
