#modal1
  width 26%
  padding 1% 0
  max-height 100% !important
  top 5px !important
  z-index 99999 !important
  .fa-times-circle
    color grey
    font-size 1.5em
  .regBack
    margin-right 4.5%
  .row
    border none !important
    -webkit-box-shadow none !important
    -moz-box-shadow none !important
    box-shadow none !important
    .loginRow
      -webkit-box-shadow none !important
      -moz-box-shadow none !important
      box-shadow none !important
      border none
      .input-field
        boder 2px solid red

    .enter
      width 100%
      -webkit-box-shadow none !important
      -moz-box-shadow none !important
      box-shadow none !important
      background-color #fc0
      color black
      &:hover
        -webkit-box-shadow none !important
        -moz-box-shadow none !important
        box-shadow none !important
    .btn
      width 100%


  input[type=email],
  input[type=password],
  input[type=text],
  input[type=tel]
    &:focus
      -webkit-box-shadow none !important
      -moz-box-shadow none !important
      box-shadow none !important
      border-bottom 1px solid #fc0 !important
      label
        display none !important
  input[type=checkbox]
    zoom 0.5 !important
    -ms-zoom 0.5 !important
    width 10px !important
    size small !important
    font-size 0.2em !important
    &:checked
      zoom 1
      -ms-zoom 1
      background-color white !important
      border 2px solid #fc0 !important


.via
  font-size 1.02rem
  text-align center
  font-family arial
  color purple
.viaConnect
  .fab
    margin-left 5% !important
    color white !important


.con
  background-color #507299


.con
  &:hover
    background-color #507299


.odno
  background-color #F2720C


.face
  background-color #3B5998


.odno
  &:hover
    background-color #F2720C


.face
  &:hover
    background-color #3B5998


