.container-fluid
  borer 1px solid black

  #myCarousel
    border 1px solid black
    display block
    background-color #eeeeee


  .carousel-item
    border 1px solid black
    display flex
    flex-direction row
    -ms-flex-direction row
    -webkit-flex-direction row

    .in-slide
      border green solid 1px
      text-align center
      position relative
      padding 23px

      img
        border 1px solid red
        object-fit cover
        -o-object-fit cover
        width 100%