#registration
  display none
  text-align center
  p
    display block
  form
    display block
  .col
    display block
  .main
    margin-top 100px
    margin-bottom 100px
    input
      &:focus
        border-bottom 1px solid #fc0 !important
        -webkit-box-shadow none !important
        -moz-box-shadow none !important
        box-shadow none !important

  .main-page
    background-color white


  .yandex
    color purple
    text-align center


  .login
    margin-bottom 0
    margin-top 0


  .border
    border 1px solid red


  .btn
    width 100%
    -webkit-box-shadow none !important
    -moz-box-shadow none !important
    box-shadow none !important
    color black

  .sign
    background-color #fc0

  .regAction
    width 70%
    text-align center

  .via
    font-size 1.02rem
    text-align center
    font-family arial
    color purple
  .iHave
    width 100%
    display block
  .kkk
    display block
    border none
    width auto
    height 1px
