.about-table
  overflow hidden
  padding-top 2%
  .date
    padding-left 2%
  .about-search
    height auto
    width 100%
    background-color #f7f5f5
    padding 0 2%
    .row
      border none
    .search1
      margin-top 2%
      border none !important
      -webkit-box-shadow none !important
      -moz-box-shadow none !important
      box-shadow none !important
      background none
      input
        width 90% !important
        height 30px !important
        &:focus
          border 1px solid #fco !important
          border-bottom 1px solid #fc0 !important
          -webkit-box-shadow none !important
          -moz-box-shadow none !important
          box-shadow none !important
      input[type=search]
        border 1px solid #eeeeee
        -webkit-box-shadow none !important
        -moz-box-shadow none !important
        box-shadow none !important
        padding-left  5%
        &:focus
          border 1px solid #fc0
          -webkit-box-shadow none !important
          -moz-box-shadow none !important
          box-shadow none !important


    input
      background-color white
    .calendar
      margin-top 2%
      .picker__box
        color black
        background-color white
        button
          color black
          -webkit-box-shadow none !important
          -moz-box-shadow none !important
          box-shadow none !important
          border none !important
        .picker__clear
          color red
      .picker__date-display, .picker__weekday-display
        background-color #fc0
        color black
      .picker__day--today
        color #fc0
      .picker__day--selected
        background-color #fc0 !important
        color black !important
      input[type=text]
        display block
        border 1px solid #eeeeee !important
        -webkit-box-shadow none !important
        -moz-box-shadow none !important
        box-shadow none !important
        height auto
        padding 1.8% 2%
        width auto
        text-align center

  .table-in
    padding 0 2%
    tr
      display none


      .table-name
        width 35%
        font-weight bolder
        mso-bidi-font-weight bolder
        mso-ansi-font-weight bolder
        font-size 1.375em
        mso-bidi-font-size 1.375em
        mso-ansi-font-size 1.375em
        &:hover
          color darkred
          font-weight bold
          mso-bidi-font-weight  bold
          mso-ansi-font-weight bold
          i
            opacity 1
            -moz-opacity 1

        i
          margin-left 5%
          opacity 0
          -moz-opacity 0
          font-size 1.1em
          mso-bidi-font-size 1.1em
          mso-ansi-font-size 1.1em
          color #666666 !important
          -webkit-transition: all .5s
          -moz-transition: all .5s
          -ms-transition: all .5s
          -o-transition: all .5s
          transition: all .5s
          &:hover
            color red !important
            cursor pointer

        p
          font-weight lighter
          font-size 0.6em

      .table-type
        width 5%


      .table-when
        .data
          background-color #ffdb4d
          padding 1% 2%
          -webkit-border-radius 5%
          -moz-border-radius 5%
          border-radius 5%
          color black
          margin-right 2%
          text-align center
          margin-top 3%

  #viewMore
    display block
    margin-left 2%
    margin-top 2%
    -webkit-transition: all 600s ease-in-out
    -moz-transition: all 600s ease-in-out
    -ms-transition: all 600s ease-in-out
    -o-transition: all 600s ease-in-out
    transition: all 600s ease-in-out

.backdrop
  color black
  background-color #999999 !important

.table-in

  .data
    cursor pointer